Data/*
Code/Training/bert_singleGPU/models/*
Code/Training/bert_singleGPU/pretraining_output_fullfat/*
Code/Training/bert_singleGPU/pretraining_output_megafat/*
Code/Training/bert_multiGPU/MegatronLM/model_checkpoints/*
Code/Training/bert_multiGPU/MegatronLM/cache/*
Code/Training/bert_multiGPU/MegatronLM/tensorboard/*
Code/Training/bert_multiGPU/hugging_face/cache/*
Code/Training/bert_multiGPU/hugging_face/output/*
Code/Training/bert_multiGPU/hugging_face/runs/*
Code/Training/bert_multiGPU/hugging_face/GLUE_data/*
Code/-/transformers/*
Code/-/bertsearch/*
Code/Search/models*
.ipynb_checkpoints
.DS_Store
__pycache__
*.pyc
