#-----------------
# Data
#----------------
_data/*
*.csv
experiments/intrinsic/exbert/server/data/dev/*

#----------------
# Weird stuff
#---------------
.ipynb_checkpoints
.DS_Store
__pycache__
*.pyc
*.tar.gz


#--------------------
# Model checkpoints
#-------------------
pretraining/-/bert_singleGPU/models/*
pretraining/-/bert_multiGPU/MegatronLM/model_checkpoints/*
_models/*
search/rfc/docker/_models/*


#-------------------
# Training output
#-------------------
pretraining/-/bert_singleGPU/pretraining_output_fullfat/*
pretraining/-/bert_singleGPU/pretraining_output_megafat/*
experiments/text_classification/output/*
experiments/-/named_entity_recognition/output/*

#----------------
# Cache
#----------------
pretraining/-/bert_multiGPU/MegatronLM/cache/*
_cache/*


#-----------------
# Tensorboard runs
#------------------
#_runs/*
experiments/-/named_entity_recognition/runs/*
#experiments/text_classification/runs/*
