#-----------------
# Data
#----------------
Data/*
Code/Extrinsic_evaluation/GLUE/GLUE_data/*
Code/Extrinsic_evaluation/Summarization/data/*
Code/Extrinsic_evaluation/QA/UnsupervisedQA/data/*
Code/Intrinsic_evaluation/Embedding/data/*


#----------------
# Weird stuff
#---------------
.ipynb_checkpoints
.DS_Store
__pycache__
*.pyc
*.tar.gz


#--------------------
# Model checkpoints
#-------------------
Code/Pretraining/_/bert_singleGPU/models/*
Code/Pretraining/_/bert_multiGPU/MegatronLM/model_checkpoints/*
Code/_models/*
Code/_/Search/models/*


#-------------------
# Training output
#-------------------
Code/Pretraining/_/bert_singleGPU/pretraining_output_fullfat/*
Code/Pretraining/_/bert_singleGPU/pretraining_output_megafat/*
Code/Pretraining/output/*
Code/Extrinsic_evaluation/GLUE/output/*
Code/Extrinsic_evaluation/Summarization/output/*
Code/Extrinsic_evaluation/NER/output/*
Code/Extrinsic_evaluation/Classification/output/*


#----------------
# Cache
#----------------
Code/Pretraining/_/bert_multiGPU/MegatronLM/cache/*
Code/_cache/*


#---------------
# Tensorboard
#---------------
Code/_runs/*
Code/Extrinsic_evaluation/GLUE/runs/*
Code/Extrinsic_evaluation/NER/runs/*
Code/Extrinsic_evaluation/Classification/runs/*
Code/Intrinsic_evaluation/runs/*

#-------------------
# Other
#-------------------
Code/_/transformers/*
Code/_/bertsearch/*
